.container {
    
    button {
        float: right;
        vertical-align: middle;
    }
    span {
        font: 2em PenFont, sans-serif ;
        margin: 0em 0.5em;
        vertical-align: middle;
    }
}