.container:hover button{
    visibility: visible;
}

.container {

    position:relative;
    height: 100%;

    div {
        vertical-align: middle;
    }
    
    button {
        float: right;
        position: absolute;
        top: 20%;
        right: 3%;
        transform: translate(-50%);
        visibility: hidden;
    }

    span {
        font: 2em PenFont, sans-serif ;
        margin: 0em 0.5em;
        vertical-align: middle;
    }
}