$size: 20px;
$pictureColorMagenta: #c539fa;
$pictureColorCyan:#1d8c9d;

.round {
  position: relative;
  display:inline;
}

.inactive label {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  height: $size - 1;
  left: 0;
  position: absolute;
  top: 0;
  width: $size - 1;
}

.active label {
  background-image: linear-gradient(to right, $pictureColorCyan, $pictureColorMagenta);
  border-radius: 50%;
  cursor: pointer;
  height: $size;
  left: 0;
  position: absolute;
  top: 0;
  width: $size;
}

.inactive input {
  visibility: hidden;
}

// Check mark
.active label:after {
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 3px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 6px;
}

.inactive input + label {
  background-color: #fff;
  border-color: gray;
}

.active input + label:after {
  opacity: 1;
}